---
import UpdatePassword from "components/updatePassword";
import { supabase } from "pages/supabase";
import "styles/global.css";

export const prerender = false;

---

<html lang="es">
  <head>
    <meta charset="UTF-8">
    <title>Mini Trello en Astro</title>
  </head>
  <body class="bg-gray-100 min-h-screen">
      <!-- <BoardsPage client:load /> -->
    
      <UpdatePassword client:load />
    
  </body>
</html>